/*#limits_municipals {
  line-pattern-file: url('/home/jaume/projectes/osm/sant-llorenc/assets/symbols/limit-municipal.png');
}*/

#limits_parc {
  line-color:#4bd12a;
  [zoom >= 11][zoom <= 13] {
    line-width: 3;
  }
  [zoom >= 14][zoom <= 16] {
    line-width: 5;
  }
  [zoom >= 17][zoom <= 19] {
    line-width: 7;
  }
  line-join: round;
  line-cap: round;
  line-opacity: 1;
  polygon-opacity:0;
  polygon-fill:#ae8;
}
